@charset "utf-8";

#main-wrap{
	display: table;
	width: 100%;
	height: 100vh;
}

#main-item-area{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

.button{
	background-color: #C2E2E6;
}